* {
    box-sizing: border-box;
}

body {
    background-color: #1C1917;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
}

button {
    height: 100px;
    width: 100px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    opacity: 0.3;
}

.pad.active {
    filter: brightness(1.2) saturate(1.2);
    border-width: 3px;
    box-shadow: 0 0 20px currentColor;
    transform: scale(1.05);
    opacity: 1;
}